.Rproj.user
.Rproj.user/ 
.Rhistory
.RData
.Ruserdata
.rstudio
.rstudio/
.local
.local/
.config
.config/
.bash_history
.nohup.out
nohup.out

# Dirs
Turdus_Spectral_Data/
Turdus_Spectral_Data.tar.gz
Turdus_data/HBW_no_bg
# Files
*/template.docx
*.odt
Manuscript/DOCX-CHANGES*
Bash-Scripts/docker_get_docx_changes.sh
Bash-Scripts/update-google-drive-MS.sh
*.ztr-directory
